{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:vue/recommended"
    // 뷰 권장
  ],
  "plugins": [],
  "rules": {
  }
}
